services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  nodeapp:
    build: .
    container_name: nodeapp
    ports:
      - "3030:3030"
    environment:
      - PORT=3030
      - MONGO_URL=mongodb://mongo:27017/dealerships
    depends_on:
      - mongo

volumes:
  mongo_data:
